<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Ark.MlNet.Classify.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="2147483648" />
				</requestFiltering>
			</security>
			<staticContent>
				<mimeMap fileExtension=".webp" mimeType="image/webp" />
			</staticContent>
			<rewrite>
				<rules>
					<rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
						<match url="(.*)" />
						<conditions logicalGrouping="MatchAny">
							<add input="{SERVER_PORT_SECURE}" pattern="^0$" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: BAE134B4-EB16-4C47-9CD8-F45C1B90AF8C-->