@{
    Layout = null;
}
<html>
<head>
    <link href="~/css/list-model.css" rel="stylesheet" />
</head>
<body>
    <script src="https://cdn.tailwindcss.com"></script>

    <button id="toggle" class="absolute top-1/2 left-1/2 z-50 transform-gpu translate-y-64 mt-2 -translate-x-1/2 w-10" type="button" aria-pressed="false" onclick="toggle(this.id);">
        <svg id="chevron" class="fill-primary-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>chevron</title>
            <path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
        </svg>
    </button>

    <div class="layer-1 layer z-40">
        <div class="profile">
            <h2>Try Your Model</h2>
            <p id="sd">Model Name</p>
        </div>
        <div class="schedule-table flex flex-col">
            <h2>Weekly Schedule</h2>
            <div class="flex flex-col gap-2 grow-0">
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>run</title>
                        <path d="M13.5,5.5C14.59,5.5 15.5,4.58 15.5,3.5C15.5,2.38 14.59,1.5 13.5,1.5C12.39,1.5 11.5,2.38 11.5,3.5C11.5,4.58 12.39,5.5 13.5,5.5M9.89,19.38L10.89,15L13,17V23H15V15.5L12.89,13.5L13.5,10.5C14.79,12 16.79,13 19,13V11C17.09,11 15.5,10 14.69,8.58L13.69,7C13.29,6.38 12.69,6 12,6C11.69,6 11.5,6.08 11.19,6.08L6,8.28V13H8V9.58L9.79,8.88L8.19,17L3.29,16L2.89,18L9.89,19.38Z" />
                    </svg>
                    <div class="flex justify-between grow">
                        <span>Running</span>
                        <span class="text-text-3">Mon, 6:00 am</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>cycling</title>
                        <path d="M5,20.5A3.5,3.5 0 0,1 1.5,17A3.5,3.5 0 0,1 5,13.5A3.5,3.5 0 0,1 8.5,17A3.5,3.5 0 0,1 5,20.5M5,12A5,5 0 0,0 0,17A5,5 0 0,0 5,22A5,5 0 0,0 10,17A5,5 0 0,0 5,12M14.8,10H19V8.2H15.8L13.86,4.93C13.57,4.43 13,4.1 12.4,4.1C11.93,4.1 11.5,4.29 11.2,4.6L7.5,8.29C7.19,8.6 7,9 7,9.5C7,10.13 7.33,10.66 7.85,10.97L11.2,13V18H13V11.5L10.75,9.85L13.07,7.5M19,20.5A3.5,3.5 0 0,1 15.5,17A3.5,3.5 0 0,1 19,13.5A3.5,3.5 0 0,1 22.5,17A3.5,3.5 0 0,1 19,20.5M19,12A5,5 0 0,0 14,17A5,5 0 0,0 19,22A5,5 0 0,0 24,17A5,5 0 0,0 19,12M16,4.8C17,4.8 17.8,4 17.8,3C17.8,2 17,1.2 16,1.2C15,1.2 14.2,2 14.2,3C14.2,4 15,4.8 16,4.8Z" />
                    </svg>

                    <div class="flex justify-between grow">
                        <span>Cycling</span>
                        <span class="text-text-3">Tue, 7:00 am</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>swim</title>
                        <path d="M2,18C4.22,17 6.44,16 8.67,16C10.89,16 13.11,18 15.33,18C17.56,18 19.78,16 22,16V19C19.78,19 17.56,21 15.33,21C13.11,21 10.89,19 8.67,19C6.44,19 4.22,20 2,21V18M8.67,13C7.89,13 7.12,13.12 6.35,13.32L11.27,9.88L10.23,8.64C10.09,8.47 10,8.24 10,8C10,7.66 10.17,7.35 10.44,7.17L16.16,3.17L17.31,4.8L12.47,8.19L17.7,14.42C16.91,14.75 16.12,15 15.33,15C13.11,15 10.89,13 8.67,13M18,7A2,2 0 0,1 20,9A2,2 0 0,1 18,11A2,2 0 0,1 16,9A2,2 0 0,1 18,7Z" />
                    </svg>
                    <div class="flex justify-between grow">
                        <span>Swimming</span>
                        <span class="text-text-3">Wed, 6:30 am</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-2">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>yoga</title>
                        <path d="M13 2C11.9 2 11 2.9 11 4C11 5.11 11.9 6 13 6C14.11 6 15 5.11 15 4C15 2.9 14.11 2 13 2M4 7V9H10V15L4.93 20.07L6.34 21.5L13.06 14.77L17 17.13V21H19V16.57C19 16.21 18.82 15.89 18.5 15.71L15 13.6V9H21V7H4Z" />
                    </svg>
                    <div class="flex justify-between grow items-center">
                        <span class="flex gap-1.5 items-center">
                            <span>Yoga</span>
                            <span class="text-xs bg-secondary-1 text-secondary-3 py-0.5 px-1.5 rounded">Today</span>
                        </span>
                        <span class="text-text-3">Thu, 6:00 am</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>weight-lifter</title>
                        <path d="M12 5C10.89 5 10 5.89 10 7S10.89 9 12 9 14 8.11 14 7 13.11 5 12 5M22 1V6H20V4H4V6H2V1H4V3H20V1H22M15 11.26V23H13V18H11V23H9V11.26C6.93 10.17 5.5 8 5.5 5.5L5.5 5H7.5L7.5 5.5C7.5 8 9.5 10 12 10S16.5 8 16.5 5.5L16.5 5H18.5L18.5 5.5C18.5 8 17.07 10.17 15 11.26Z" />
                    </svg>
                    <div class="flex justify-between grow">
                        <span>Weight Training</span>
                        <span class="text-text-3">Fri, 8:00 am</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layer layer-2">
        <div class="exercise-table">
            <h2>Last 5 Exercises</h2>
            <div class="flex flex-col gap-2">
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>run</title>
                        <path d="M13.5,5.5C14.59,5.5 15.5,4.58 15.5,3.5C15.5,2.38 14.59,1.5 13.5,1.5C12.39,1.5 11.5,2.38 11.5,3.5C11.5,4.58 12.39,5.5 13.5,5.5M9.89,19.38L10.89,15L13,17V23H15V15.5L12.89,13.5L13.5,10.5C14.79,12 16.79,13 19,13V11C17.09,11 15.5,10 14.69,8.58L13.69,7C13.29,6.38 12.69,6 12,6C11.69,6 11.5,6.08 11.19,6.08L6,8.28V13H8V9.58L9.79,8.88L8.19,17L3.29,16L2.89,18L9.89,19.38Z" />
                    </svg>
                    <div class="flex justify-between grow">
                        <span>Running</span>
                        <span class="text-text-3">30m</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>swim</title>
                        <path d="M2,18C4.22,17 6.44,16 8.67,16C10.89,16 13.11,18 15.33,18C17.56,18 19.78,16 22,16V19C19.78,19 17.56,21 15.33,21C13.11,21 10.89,19 8.67,19C6.44,19 4.22,20 2,21V18M8.67,13C7.89,13 7.12,13.12 6.35,13.32L11.27,9.88L10.23,8.64C10.09,8.47 10,8.24 10,8C10,7.66 10.17,7.35 10.44,7.17L16.16,3.17L17.31,4.8L12.47,8.19L17.7,14.42C16.91,14.75 16.12,15 15.33,15C13.11,15 10.89,13 8.67,13M18,7A2,2 0 0,1 20,9A2,2 0 0,1 18,11A2,2 0 0,1 16,9A2,2 0 0,1 18,7Z" />
                    </svg>
                    <div class="flex justify-between grow">
                        <span>Swimming</span>
                        <span class="text-text-3">45m</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>cycling</title>
                        <path d="M5,20.5A3.5,3.5 0 0,1 1.5,17A3.5,3.5 0 0,1 5,13.5A3.5,3.5 0 0,1 8.5,17A3.5,3.5 0 0,1 5,20.5M5,12A5,5 0 0,0 0,17A5,5 0 0,0 5,22A5,5 0 0,0 10,17A5,5 0 0,0 5,12M14.8,10H19V8.2H15.8L13.86,4.93C13.57,4.43 13,4.1 12.4,4.1C11.93,4.1 11.5,4.29 11.2,4.6L7.5,8.29C7.19,8.6 7,9 7,9.5C7,10.13 7.33,10.66 7.85,10.97L11.2,13V18H13V11.5L10.75,9.85L13.07,7.5M19,20.5A3.5,3.5 0 0,1 15.5,17A3.5,3.5 0 0,1 19,13.5A3.5,3.5 0 0,1 22.5,17A3.5,3.5 0 0,1 19,20.5M19,12A5,5 0 0,0 14,17A5,5 0 0,0 19,22A5,5 0 0,0 24,17A5,5 0 0,0 19,12M16,4.8C17,4.8 17.8,4 17.8,3C17.8,2 17,1.2 16,1.2C15,1.2 14.2,2 14.2,3C14.2,4 15,4.8 16,4.8Z" />
                    </svg>

                    <div class="flex justify-between grow">
                        <span>Cycling</span>
                        <span class="text-text-3">60m</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>yoga</title>
                        <path d="M13 2C11.9 2 11 2.9 11 4C11 5.11 11.9 6 13 6C14.11 6 15 5.11 15 4C15 2.9 14.11 2 13 2M4 7V9H10V15L4.93 20.07L6.34 21.5L13.06 14.77L17 17.13V21H19V16.57C19 16.21 18.82 15.89 18.5 15.71L15 13.6V9H21V7H4Z" />
                    </svg>
                    <div class="flex justify-between grow items-center">
                        <span class="flex gap-1.5 items-center">
                            <span>Yoga</span>
                        </span>
                        <span class="text-text-3">40m</span>
                    </div>
                </div>
                <div class="flex gap-1 py-3 px-2 rounded-xl items-center bg-primary-3">
                    <svg class="h-6 w-6 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>weight-lifter</title>
                        <path d="M12 5C10.89 5 10 5.89 10 7S10.89 9 12 9 14 8.11 14 7 13.11 5 12 5M22 1V6H20V4H4V6H2V1H4V3H20V1H22M15 11.26V23H13V18H11V23H9V11.26C6.93 10.17 5.5 8 5.5 5.5L5.5 5H7.5L7.5 5.5C7.5 8 9.5 10 12 10S16.5 8 16.5 5.5L16.5 5H18.5L18.5 5.5C18.5 8 17.07 10.17 15 11.26Z" />
                    </svg>
                    <div class="flex justify-between grow">
                        <span>Weight Training</span>
                        <span class="text-text-3">50m</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal-bests">
            <h2>Personal Bests</h2>
            <div class="flex flex-col items-center gap-2">
                <div class="flex flex-col items-center">
                    <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>run-fast</title>
                        <path d="M16.5,5.5A2,2 0 0,0 18.5,3.5A2,2 0 0,0 16.5,1.5A2,2 0 0,0 14.5,3.5A2,2 0 0,0 16.5,5.5M12.9,19.4L13.9,15L16,17V23H18V15.5L15.9,13.5L16.5,10.5C17.89,12.09 19.89,13 22,13V11C20.24,11.03 18.6,10.11 17.7,8.6L16.7,7C16.34,6.4 15.7,6 15,6C14.7,6 14.5,6.1 14.2,6.1L9,8.3V13H11V9.6L12.8,8.9L11.2,17L6.3,16L5.9,18L12.9,19.4M4,9A1,1 0 0,1 3,8A1,1 0 0,1 4,7H7V9H4M5,5A1,1 0 0,1 4,4A1,1 0 0,1 5,3H10V5H5M3,13A1,1 0 0,1 2,12A1,1 0 0,1 3,11H7V13H3Z" />
                    </svg>
                    <span class="text-sm text-text-3 mt-0.5 -mb-1">Fastest 5K Run</span>
                    <span class="text-lg text-text-1">22 min</span>
                </div>
                <div class="flex flex-col items-center">
                    <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>weight</title>
                        <path d="M12,3A4,4 0 0,1 16,7C16,7.73 15.81,8.41 15.46,9H18C18.95,9 19.75,9.67 19.95,10.56C21.96,18.57 22,18.78 22,19A2,2 0 0,1 20,21H4A2,2 0 0,1 2,19C2,18.78 2.04,18.57 4.05,10.56C4.25,9.67 5.05,9 6,9H8.54C8.19,8.41 8,7.73 8,7A4,4 0 0,1 12,3M12,5A2,2 0 0,0 10,7A2,2 0 0,0 12,9A2,2 0 0,0 14,7A2,2 0 0,0 12,5Z" />
                    </svg>
                    <span class="text-sm text-text-3 mt-0.5 -mb-1">Heaviest Deadlift</span>
                    <span class="text-lg text-text-1">250 lbs</span>
                </div>
                <div class="flex flex-col items-center">
                    <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <title>clock-outline</title>
                        <path d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" />
                    </svg>
                    <span class="text-sm text-text-3 mt-0.5 -mb-1">Longest Plank</span>
                    <span class="text-lg text-text-1">3 min</span>
                </div>
            </div>
        </div>

        <div class="activity-feed">
            <h2>Friends Activity</h2>
            <ul class="flex flex-col gap-0.5">
                <li class="text-lg text-text-1"><span class="text-primary-1 underline font-medium">Jane</span> just set a new record in cycling: 30 miles!</li>
                <li class="text-lg text-text-1"><span class="text-primary-1 underline font-medium">Mike</span> completed the <span class="text-primary-1 underline font-medium">30-Day Running Streak Challenge</span>!</li>
                <li class="text-lg text-text-1"><span class="text-primary-1 underline font-medium">Anna</span> shared a new workout: <span class="text-primary-1 underline font-medium">'Hill Sprints Interval'</span>.</li>
            </ul>
        </div>
    </div>
    <script>
        function toggle(e) {
            const toggleButton = document.getElementById(e);
            if (toggleButton.getAttribute("aria-pressed") == "false") {
                toggleButton.setAttribute("aria-pressed", "true");
            } else {
                toggleButton.setAttribute("aria-pressed", "false");
            }
        }

    </script>
</body>
</html>